<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My GitHub Page</title>
  <style>
    .button-class {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .button-class:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Fire Evacuation Pathway Tool</h1>
  <p>Please enter user coordinates:</p>
<form action="/MVP1map.html" method="POST">
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" required>
    <br>
    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" required>
    <br>
    <button type="submit">Submit</button>
</form>

  
  <!-- <a href="static/MVP1map.html" class="button-class">Click Me</a> -->
</body>
</html>
